:root {
  --elastic-out: linear(
    0,
    0.2178 2.1%,
    1.1144 8.49%,
    1.2959 10.7%,
    1.3463 11.81%,
    1.3705 12.94%,
    1.3726,
    1.3643 14.48%,
    1.3151 16.2%,
    1.0317 21.81%,
    0.941 24.01%,
    0.8912 25.91%,
    0.8694 27.84%,
    0.8698 29.21%,
    0.8824 30.71%,
    1.0122 38.33%,
    1.0357,
    1.046 42.71%,
    1.0416 45.7%,
    0.9961 53.26%,
    0.9839 57.54%,
    0.9853 60.71%,
    1.0012 68.14%,
    1.0056 72.24%,
    0.9981 86.66%,
    1
  );
}

.body {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  gap: 16px;
  justify-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.like__button {
  --scale-ease: var(--elastic-out);
  width: 112px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background: transparent;
  transition: scale 1s var(--elastic-out), background 0.2s;
}

.like__button:is(:hover, :focus-visible) {
  background: hsl(0 0% 94%);
}

.like__button svg {
  width: 60%;
  translate: 0 5%;
  stroke-width: 2px;
  stroke: hsl(0 0% 60%);
  fill: none;
  transition: stroke 0.2s, fill 0.2s;
}

[aria-pressed="true"] svg {
  fill: hsl(335, 95%, 53%);
  stroke: hsl(335, 95%, 53%);
}

.like__button:active {
  scale: 0.8;
  transition: scale 0.2s ease;
}
/* email*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.body__form {
  display: grid;
  place-items: center;
  background: hsl(296 7% 97%);
  min-height: 100vh;
  overflow: hidden;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}

html {
  font-size: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.form__group-email {
  --valid: hsl(145 50% 55%);
  --invalid: hsl(15 80% 55%);
  --transition: 0.2s;
  --color: hsl(268 1% 55%);
  display: grid;
  gap: 0.5rem;
}

label {
  display: flex;
  color: var(--color);
  transition: color var(--transition);
  letter-spacing: 0.1ch;
  padding-left: 0.5rem;
  font-weight: bold;
}

label > [aria-hidden] {
  animation-duration: 0.2s;
  animation-delay: calc(var(--char-index) * 0.1s);
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

@keyframes jump {
  50% {
    translate: 0 -50%;
  }
}

@keyframes shake {
  25% {
    translate: 0.25ch 0;
  }
  75% {
    translate: -0.25ch 0;
  }
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color);
  transition: border var(--transition);
}

.form__group-email:has(:user-valid) {
  --color: var(--valid);
}

.form__group-email:not(:focus-within):has(:user-invalid) {
  --color: var(--invalid);
}

@media (prefers-reduced-motion: no-preference) {
  .form-group:not(:focus-within):has(:user-valid) [aria-hidden] {
    animation-name: jump;
  }

  .form__group-email:not(:focus-within):has(:user-invalid) label {
    animation: shake 0.075s 8;
  }
}

/*item*/
@import url(https://unpkg.com/open-props/open-props.min.css);
@import url(https://unpkg.com/open-props/normalize.min.css);

.items:has(input:not(:checked)) {
  background: var(--surface-1);
  border-color: var(--red-2);
}

input {
  accent-color: var(--green-8);
}

.item {
  display: flex;
  gap: var(--size-2);
}

.items {
  box-shadow: var(--shadow-5);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  border: 2px solid green;
  list-style-type: none;
  display: grid;
  gap: var(--size-2);
  background: var(--green-1);
  transition: all 0.2s ease;
}

/* The double negative approach */
/* ul:not(:has(input:not(:checked))) { background: lime } */
/* ul:not(:has(> li:not(.item))) { background: blue } */

:checked + label {
  font-style: italic;
  text-decoration: line-through;
}
